#form{
    width: 50%;
    height: 50%;
    margin: 100px auto 50px;
}

#form_id{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

label{
    font-size: 17px;
    width: 100px;
    float:left;
}
input{
    width: 200px;
}